<section class="phx-hero">
  <form class="pure-form" action="/" >
    <fieldset>
        <legend>Enter a user name</legend>
        <input type="email" placeholder="...">
        <button type="submit" class="pure-button pure-button-primary">Sign in</button>
    </fieldset>
  </form>
  <p>This will generate a random user id to be used for posting reactions.</p>
</section>


